{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<style>
    #content {
      bottom: 0;
    }
</style>

    <img src="{{ asset('images/images.png') }}" width="150" align="right">

<div class="example-wrapper">

        <div>
         <h1>Goods</h1>
         {% for product in  topProductss %}
             <ul>
                  <li><a href="{{ path('product_show', {id: product.id}) }} "> {{ product.title }}</a></li>
             </ul>
  {% endfor %}
    </div>

</div>


    <p id="content">Counter: {{ counter }}</p>

    <a id="content" href="{{ url('show', {id: 'new-link-from-index'}) }}">Перейти на sh0w</a>

{% endblock %}
