{% extends 'base.html.twig' %}

{% block title %}Goods{% endblock %}

{% block body %}
   <h6> <table class="table">
        <tr>
            <th>Id</th>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>About</th>
            <th></th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <div class="card" style="width: 3rem;">
                        <img class="card-img-top"
                             src="{%- if product.imageName -%}
                           {{ vich_uploader_asset(product, 'imageFile') | imagine_filter('squared_product_thumbnail')}}
                       {%- else -%}
                           //placehold.it/300x300
                       {%- endif -%}"
                             alt="{{ product.title }}">
                    </div>
                </td>
                <td><a href="{{ path('product_show', {id: product.id}) }} "> {{ product.title }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td><a href="{{ path('product_delete', {id:product.id}) }}" class="btn btn-danger">Delete</a> </td>
            </tr>
        {% endfor %}
    </table>
   </h6>
{% endblock %}

