{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.title }}</h1>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
             src="{%- if product.imageName -%}
                           {{ vich_uploader_asset(product, 'imageFile') | imagine_filter('squared_product_thumbnail')}}
                       {%- else -%}
                           //placehold.it/300x300
                       {%- endif -%}"
         alt="{{ product.title }}">

    </div>
    <hr>
    <p>Price: {{ product.price }}</p>
    <hr>
    <p>{{ product.description }}</p>
{% endblock %}

{% block title %}
    {{ product.title }}
{% endblock %}

