{% if cart.hasItems %}
<table class="table">
    <tr>
        <th>Name product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Value</th>
        <th></th>
    </tr>

    {# @var item \App\Entity\OrderItem #}
    {% for item in cart.items %}
        <tr>
            <td>{{ item.product.title }}</td>
            <td>{{ item.price }}</td>
            <td>
                <input type="number" value="{{ item.quantity }}"
                       min="1" class="js-cart-item-quantity"
                       data-item-update-url="{{ path('order_update_cart_item_quantity',
                           {'id': item.id, 'quantity': '--quantity--'}) }}">
            </td>
            <td>{{ item.amount }}</td>
            <td>
                <a href="{{ path('order_remove_from_cart', {'id': item.id}) }}"
                   class="btn btn-danger js-remove-from-card"
                   data-toggle="modal" data-target="#confirmationModal"
                >Delete</a></td>


        </tr>
    {% endfor %}

    <tr>
        <th colspan="3">Total price</th>
        <th>{{ cart.amount }}</th>
        <th></th>
    </tr>

</table>
    <h2>Oformlenie zakaza</h2>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Podtverdit zakaz">
            </div>

        {{ form_end(form) }}

    {% else %}
        <p>Your basket is empty, plz, add to basket <a href="{{ path('category') }}">goods</a> </p>
    {% endif %}
