{% extends 'base.html.twig' %}

{% block body %}


    {% if error %}
             <h3>Basket is empty</h3>
    {% else %}

    <h1>Order number{{ id }} </h1>

                <table class="table">

                    <tr>
                        <th>Item name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total price</th>
                    </tr>

                {% for item in cart %}

                    <tr>
                        <td>{{ item.product }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.total }}</td>
                    </tr>

                {% endfor %}

                    <tr>
                        <th>Total</th>
                        <td></td>
                        <td></td>
                        <th>{{ amount }}</th>
                    </tr>

                </table>


                <button type="button" class="btn btn-success">Confirm</button>

        {% endif %}

{% endblock %}